body {
  background-color: rgb(253, 251, 251);
  margin: 0%;
  font-family: Cantarell, sans-serif;
  line-height: 1, 5;
}

p {
  font-size: 18px;
  margin: 20px;
}

#cabecalho {
  background-color: rgb(24, 24, 24);
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0%;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

#titulo {
  background-color: rgb(33, 33, 33);
  border-radius: 20px;
  color: white;
  display: inline-block;
  margin-top: 7.5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

main {
  background-color: rgb(24, 24, 24);
  border: 2px solid rgb(33, 33, 33);
  border-radius: 20px;
  color: black;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  padding: 10px;
}

#cats {
  background-color: rgb(33, 33, 33);
  border-radius: 20px;
  width: 250px;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

#minha_foto {
  background-color: rgb(33, 33, 33);
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 250px;
  height: auto;
  padding: 10px;
}

#pauloMary {
  background-color: rgb(33, 33, 33);
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 250px;
  height: auto;
  padding: 10px;
}

#burguer {
  background-color: rgb(33, 33, 33);
  border-radius: 20px;
  width: 250px;
  height: auto;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

#subTitulo {
  background-color: rgb(24, 24, 24);
  border-radius: 20px;
  color: white;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
}

table {
  background-color: rgb(24, 24, 24);
  border: 2px solid rgb(33, 33, 33);
  font-size: 18px;
  border-radius: 20px;
  width: auto;
  height: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

th {
  color: white;
  text-align: center;
  font-size: 20px;
}


td {
  background-color: rgb(33, 33, 33);
  border: 2px solid rgb(24, 24, 24);
  border-radius: 20px;
  color: rgb(170, 170, 170);
  text-align: center;
  width: 200px;
  height: auto;
  padding: 10px;
}

#licoesAprendidas {
  background-color: rgb(24, 24, 24);
  border: 2px solid rgb(33, 33, 33);
  border-radius: 20px;
  color: rgb(170, 170, 170);
  font-size: 18px;
  display: inline-block;
  width: 300px;
  height: auto;
  margin-top: 20px;
  margin-left: 152.5px;
  margin-right: auto;
  padding: 10px;
  text-align: left;
}

#tituloLicoesAprendidas {
  color: white;
  text-align: center;
  font-size: 26px;
}

#licoes_aprendidas {
  background-color: rgb(33, 33, 33);
  border-radius: 20px;
}

#licoesAAprender {
  background-color: rgb(24, 24, 24);
  border: 2px solid rgb(33, 33, 33);
  border-radius: 20px;
  color: rgb(170, 170, 170);
  font-size: 18px;
  float: right;
  width: 300px;
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 152.5px;
  padding: 10px;
  text-align: left;
}

#tituloLicoesAAprender {
  color: white;
  text-align: center;
  font-size: 26px;
}

#licoes_a_aprender {
  background-color: rgb(33, 33, 33);
  border-radius: 20px;
}

li {
  padding: 10px;
}


.lado-esquerdo {
  background-color: rgb(24, 24, 24);
  border: 2px solid rgb(33, 33, 33);
  border-radius: 20px;
  color: rgb(170, 170, 170);
  display: inline-block;
  width: 605px;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.lado-direito {
  background-color: rgb(24, 24, 24);
  border: 2px solid rgb(33, 33, 33);
  color: rgb(170, 170, 170);
  border-radius: 20px;
  float: right;
  width: 605px;
  height: auto;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

#tituloArtigo {
  color: white;
  text-align: center;
  font-size: 26px;
}

#tituloAside {
  color: white;
  text-align: center;
  font-size: 26px;
}

article {
  background-color: rgb(33, 33, 33);
  border-radius: 20px;
  text-align: justify;
  width: 605px;
  height: 300px;
}

aside {
  background-color: rgb(33, 33, 33);
  border-radius: 20px;
  text-align: justify;
  width: 605px;
  height: 300px;
}

#rodape {
  background-color: rgb(24, 24, 24);
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 20px;
  clear: both;
}
